@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

#rating {
  display: flex;
  align-items: center;
  line-height: 0;
}

#imageandcard-container {
  position: relative;
}

#heart-icon-area {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

#heart-icon {
  background-color: #fff;
}

.fixedButtonDiv {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 24px;
  height: 90px;
}
.fixedButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  width: 85%;
  color: black;
  border: 2px solid #ffa629;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
}

.fixedButton:hover {
  transition: 250ms ease;
  background-color: #f4ce5e;
  border: 2px solid #f4ce5e;
}

.fixedButton:active {
  transition: 250ms ease;
  background-color: #ffa629;
  color: #fff;
}

/* RECIPEPAGE */

.recipeName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 24px;
}

.card-content-container {
  /* background-color: aqua; */
  margin: 0 24px;
}

.card-image-container {
  position: relative;
  height: 224px;
  background-color: #f4ce5e;
  border-radius: 8px;
}

.card-image {
}

.chip-mui {
}

.rating-container,
.timeToCreate,
.serves,
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-number {
  margin-left: 8px;
}

.rating-amount,
.serving {
  margin: 8px;
  opacity: 70%;
}

.timeToCreate-text,
.serves-text,
.price-text,
.serving {
  font-size: 16px;
  margin-left: 8px;
}

.ingredients-container,
.description-container,
.creator-container,
.ratings-container {
  margin-top: 36px;
}

.ingredients-title,
.description-title,
.creator-title,
.ratings-title {
  font-size: 16px;
  font-weight: 600;
}

textarea {
  width: 100%;
  max-width: 360px;
  margin: 0 24px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 8px;
  height: 208px;
  color: #000;
  padding: 16px;
  font-size: 16px;
}

.submitRecipeButton {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  width: 85%;
  color: black;
  border: 2px solid #ffa629;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
}

.description-title {
}

.description-text {
  max-width: 326px;
}

.creator-container {
}

.creator-name {
  margin-left: 8px;
  /* background-color: red; */
  margin: 0 0 0 8px;
}

.creator-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ratings-container {
  display: flex;
  flex-direction: column;
}
