@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

#rating {
  display: flex;
  align-items: center;
  line-height: 0;
}

#imageandcard-container {
  position: relative;
}

#heart-icon-area {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

#heart-icon {
  background-color: #fff;
}

.fixedButtonDiv {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 24px;
  height: 90px;
}
.fixedButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  width: 85%;
  color: black;
  border: 2px solid #ffa629;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
}

.fixedButton:hover {
  transition: 250ms ease;
  background-color: #f4ce5e;
  border: 2px solid #f4ce5e;
}

.fixedButton:active {
  transition: 250ms ease;
  background-color: #ffa629;
  color: #fff;
}

.submitRecipeButton {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  width: 85%;
  color: black;
  border: 2px solid #ffa629;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
}
